%h1 Listing tweets

 = render 'form'

%table
  %tr
    %th Uer
    %th Content
    %th
    %th
    %th
    %th

  - @tweets.each do |tweet|
    %tr
      %td= tweet.uer_id
      %td= tweet.content
      %td= link_to 'Show', tweet
      %td= link_to 'Edit', edit_tweet_path(tweet)
      %td= link_to 'Destroy', tweet, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %td= link_to "Favorite(#{tweet.favorites.size})", tweet_favorite_path(tweet), method: :post